[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Add some stats from the agenda to the mode line.
[access "refs/*"]
	owner = group user/Nick Dokos (ndokos)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nick Dokos (ndokos)
	label-Verified = -1..+1 group user/Nick Dokos (ndokos)
	push = group user/Nick Dokos (ndokos)
	read = group user/Nick Dokos (ndokos)
	rebase = group user/Nick Dokos (ndokos)
	removeReviewer = group user/Nick Dokos (ndokos)
	submit = group user/Nick Dokos (ndokos)
[access "refs/heads/*"]
	create = group user/Nick Dokos (ndokos)
	push = +force group user/Nick Dokos (ndokos)
	pushMerge = group user/Nick Dokos (ndokos)
	read = group user/Nick Dokos (ndokos)
[access "refs/tags/*"]
	push = group user/Nick Dokos (ndokos)
	push = +force group user/Nick Dokos (ndokos)
